.japanee-logo {
  position: relative;
}

.logo-text {
  font-size: 32px;
  font-weight: bold;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
  
}

.red-text {
  color: #ea1538;
  font-family: Arial, sans-serif;
}

.last-e {
  position: relative;
  display: inline-block;
}

.tag {
  position: absolute;
  top: 90%;
   left: 50%;
  background-color: #ea1538;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  transform:translateX(-50%) rotate(-10deg);
  white-space: nowrap;
  z-index: 1;
}

/* Swing animation */
.swing {
  animation: swingTag 2s ease-in-out infinite alternate;
}

@keyframes swingTag {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}